<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDriverServlet</servlet-name>
        <servlet-class>servlets.AddDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDriversServlet</servlet-name>
        <servlet-class>servlets.ViewDriversServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCabServlet</servlet-name>
        <servlet-class>servlets.AddCabServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCabsServlet</servlet-name>
        <servlet-class>servlets.ViewCabsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignDriverServlet</servlet-name>
        <servlet-class>servlets.AssignDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnassignDriverServlet</servlet-name>
        <servlet-class>servlets.UnassignDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>servlets.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignCabServlet</servlet-name>
        <servlet-class>servlets.AssignCabServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDriverServlet</servlet-name>
        <url-pattern>/AddDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDriversServlet</servlet-name>
        <url-pattern>/viewDrivers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCabServlet</servlet-name>
        <url-pattern>/AddCab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCabsServlet</servlet-name>
        <url-pattern>/viewCabs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignDriverServlet</servlet-name>
        <url-pattern>/AssignDriverServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>UnassignDriverServlet</servlet-name>
        <url-pattern>/UnassignDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignCabServlet</servlet-name>
        <url-pattern>/AssignCabServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
        <!-- Timeout after 30 minutes of inactivity -->
    </session-config>
</web-app>
